strong {
    background-color: rgb(252, 109, 0);
}

body {
    color: rgb(45, 49, 22);


}

h1 {
    color: rgb(108, 140, 2);

}

h2 {
    color: rgb(31, 36, 6);
}

p {
    color: rgb(22, 1, 44)
}

p {
    background-color: aliceblue
}

body {
    background-color: rgb(44, 104, 32)
}